<form nz-form
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-label nzRequired
                   nzSpan="4">仓库</nz-form-label>
    <nz-form-control nzSpan="8"
                     nzHasFeedback>
      <input nz-input
             formControlName="repo"
             (ngModelChange)="onRepoChange($event)">
      <nz-form-explain *ngIf="formGroup.get('repo').errors && formGroup.get('repo').dirty">
        <span *ngIf="formGroup.get('repo').errors.required">必填字段</span>
        <span *ngIf="formGroup.get('repo').errors.pattern">含有非法字符</span>
      </nz-form-explain>
    </nz-form-control>
    <ng-container *ngIf="advancedSearch">
      <nz-form-label nzSpan="4">状态</nz-form-label>
      <nz-form-control nzSpan="8">
        <nz-select formControlName="state">
          <nz-option *ngFor="let op of stateOptions"
                     [nzLabel]="op"
                     [nzValue]="op"></nz-option>
        </nz-select>
      </nz-form-control>
    </ng-container>
  </nz-form-item>
  <ng-container *ngIf="advancedSearch">
    <nz-form-item>
      <nz-form-label nzSpan="4">Label</nz-form-label>
      <nz-form-control nzSpan="8">
        <nz-select formControlName="label">
          <nz-option [nzLabel]="'(空)'" [nzValue]="''"></nz-option>
          <nz-option *ngFor="let op of labelOptions"
                     [nzLabel]="op.name"
                     [nzValue]="op.name">
          </nz-option>
        </nz-select>
      </nz-form-control>
      <nz-form-label nzSpan="4">更新日期</nz-form-label>
      <nz-form-control nzSpan="8">
        <nz-date-picker formControlName="updated"
                        [nzDisabledDate]="disabledDate"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
  <nz-form-item>
    <nz-form-control nzOffset="4"
                     nzSpan="8">
      <span class="action-panel"
            style="display: block; padding-top: 4px; margin-bottom: 24px;">
        <button nz-button
                nzType="primary"
                type="submit">
          <i nz-icon
             [type]="(loading$ | async) ? 'loading' : 'search'"></i></button>
        <button nz-button
                type="button"
                (click)="onResetButtonClick()">重置</button>
        <a (click)="onToggleAdvanced()">{{ advancedSearch ? '展示更少' : '展示更多' }} <i nz-icon
             [type]="advancedSearch ? 'up' : 'down'"></i></a>
      </span>
    </nz-form-control>
  </nz-form-item>
</form>
